<table class="table table-hover">
  <thead>
    <tr>
      <th width="10%">問題ID</th>
      <th width="30%">タグ</th>
      <th width="60%">タイトル</th>
    </tr>
  </thead>
  <tbody>
  <% @quizzes.each do |quiz| %>
    <tr>
      <td><%= quiz.id %></td>
      <td><%= quiz.tag %></td>
      <td><%= link_to quiz.title, quiz_search_path(quiz, title: @quiz_title, model: @model, method: @method) %></td>
    </tr>
  <% end %>
  <%= paginate @quizzes %>
  </tbody>
</table>