<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>問題ID</th>
      <th>タグ</th>
      <th>タイトル</th>
      <th colspan = "5"></th>
    </tr>
  </thead>
  <tbody>
  <% @quizzes.each do |quiz| %>
    <tr>
      <td><%= quiz.id %></td>
      <td><%= quiz.tag %></td>
      <td><%= link_to quiz.title, quiz_search_path(quiz, title: @quiz_title, model: @model, method: @method) %></td>
    </tr>
  <% end %>
  <%= paginate @quizzes %>
  </tbody>
</table>