<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 mt-4 mb-4">
      <%= form_with url:answer_search_path(@search_quiz), method: :post do |f| %>
        <%= render 'public/quizzes/quiz_template', quiz: @search_quiz, f: f, title: @quiz_title, model: @model, method: @method %>
      <% end %>
    </div>
  </div>
</div>