<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-4">"<%= @quiz_title %>"の検索結果</h4>
      <%= render 'public/searches/index', quizzes: @quizzes, title: @quiz_title, model: @model, method: @method %>
    </div>
  </div>
</div>