<!--<%# if @model == 'user' %>-->
<!--    <h3>Users search for "<%#= @content %>"</h3>-->
<!--  <%#= render 'users/index', users: @records %>-->
<!--<%# elsif @model == 'book' %>-->
<!--    <h3>Books search for "<%#= @content %>"</h3>-->
<!--  <%#= render 'books/index', books: @records %>-->
<!--<%# end %>-->

<h2>Searches search for "<%= @quiz_title %>"</h2>
<%= render 'public/searches/index', quizzes: @quizzes, title: @quiz_title, model: @model, method: @method %>