<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<%= link_to "問題に挑戦", quizzes_path %>

<div class="d-flex justify-content-center mb-2">
  <%= render "public/searches/form" %>
</div>