<div class="container">
  <div class="row">
    <div class="col">
      <%= render "public/quizzes/answer_template", result: @result, quiz: @quiz, quiz_comment: @quiz_comment %>
      <%= link_to "ブックマーク一覧に戻る", quiz_bookmarks_path(current_user) %>
    </div>
  </div>
</div>